.content {
    padding: 0.3rem;
}

.sub-bar {
    padding: 0.4rem;
}

pre{
    white-space:pre-wrap;
    word-break:normal;
}

.tblock{
    margin:1rem;
}

.tbstyle{
    border:1px solid #d4d4d4;
    margin:0;
    padding:0.4rem;
}

